body{
	font-family: 'Ubuntu', sans-serif;
}

#editor{
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left : 0%;
}

.nice{
	top : 3%;
	padding: 20px;
	margin-left: 91%;
	position: absolute;
	z-index: 1000;
	background-color: rgba(255,255,255,0.1) ;

}

.selector{
	cursor: pointer;
}

.code-tab{
	position: absolute;
	top: 90%;
	left : 92%;
	font-size: 30px;
	color: #ffffff;
	opacity: 0.2;
}
