body{
	font-family: 'Ubuntu', sans-serif;
}

#editor{
    height: 100%;
    width: 90%;
    position: absolute;
    margin-left : 0%;
}

.nice{
	color: #ffffff;
	padding: 20px;
	margin-left: 90%;
	position: absolute;
	background-color: #2c3e50;
	width : 10%;
	height: 100%;
}