body{
	font-family: 'Ubuntu', sans-serif;
}

#editor{
    height: 100%;
    width: 90%;
    position: absolute;
    margin-left : 0%;
}

.nice{
	padding: 20px;
	margin-left: 90%;
	position: absolute;
	/*background-color: #2c3e50;*/
	/*width : 10%;*/
	/*height: 100%;*/
}

.selector{
	cursor: pointer;
}

.code-tab{
	position: absolute;
	top: 90%;
	left : 83%;
	font-size: 30px;
	color: #ffffff;
	opacity: 0.2;
}